*{
    padding: 0px;
    margin: 0px;
}

$primary-background-color: #f7fff7;

body{
    background-color: $primary-background-color;
    font-family: 'Dancing Script', cursive;
    color: #264653;
    width: 100%;
    height: 100%;
}

.container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 400px;
    height: 820px;
    margin: 40px;
    background-color: #2a9d8f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    border-radius: 10px;
}

img{
    width: auto;
    height: auto;
    object-fit: cover;
    order: -1;
    border-radius: 10px 10px 0px 0px;
}

.ranknr{
    width: 60px;
    height: 60px;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 20px;
    background-color: #264653;
    color: #f7fff7;
    text-align: center;
    justify-content: center;
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-45px,-45px);
    border-radius: 50%;
    box-shadow: #264653 0px 8px 12px;
}

a{
    background-image: url(./images/spotify.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    align-self: center;
    margin-bottom: 20px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: scale(1.1);
    }
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    text-align: left;
    padding-left: 10px;
    padding-right: 40px;
}

.artist{
    font-size: 1rem;
    opacity:0.8;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.releaseYear{
font-size: 1.2rem;
    display: inline;
    position: absolute;
    right: -35px;
    top: 450px;
    transform: translate(-45px,-45px);
}

.info{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
    border-color: #e9c46a;
}
